/* PlanCard.css */
.plan-card {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 1em 1.5em;
    width: 150px; /* Adjust to desired size */
    text-align: center;
    margin: 1em;
}

.plan-icon {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.plan-card h3 {
    margin: 0.5em 0;
    font-size: 1.2em;
    color: #deba3b;
}

.plan-card p {
    font-size: 0.9em;
    color: #d3d3d3;
}
